@using System;
@using WebDevelopment.Data.Entities;
@using WebDevelopment.Controllers;
@using System.Text;
@model Car;

@{
	Color[] enumValues = (Color[])Enum.GetValues(typeof(Color));
	Fuel[] enumValues1 = (Fuel[])Enum.GetValues(typeof(Fuel));
	GearBox[] enumValues2 = (GearBox[])Enum.GetValues(typeof(GearBox));
	Types[] enumValues3 = (Types[])Enum.GetValues(typeof(Types));
	
}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label asp-for="Type">Vehicle Type</label>
		<option value="">-- All --</option>
		@foreach (var enumValue in enumValues3)
		{
			<option value="@enumValue">@enumValue</option>
		}
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="Make">Make:</label>
		<option value="">-- All --</option>
		@foreach ()
		{
			
		}
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="Model">Model:</label>
			<option value="">-- All --</option>
				@foreach ()
			{
				
			}
		</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="Price">Price</label>
		<input class="m-n" asp-for="Price"/>
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="Mileage">Mileage:</label>
		<input class="m-n" asp-for="Price" />

	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="EngineSize">Engine size:</label>
		<input class="m-n" asp-for="EngineSize" />
		
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="Power">Power:</label>
         <input class="m-n" asp-for="Power" />
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label asp-for="Fuel">Fuel Type</label>

		@foreach (var enumValue in enumValues1)
		{
			<option value="@enumValue">@enumValue</option>
		}
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="GearBox">Gearbox:</label>
		@foreach (var enumValue in enumValues2)
		{
			<option value="@enumValue">@enumValue</option>
		}
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="Doors">Doors:</label>
		<select>
			<option value="">-- All --</option>
			<option value="">-- 1 --</option>
			<option value="">-- 2 --</option>
			<option value="">-- 3 --</option>
			<option value="">-- 4 --</option>
			<option value="">-- 5 --</option>
		</select>
		
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="Seats">Number of seats:</label>

		<select>
			<option value="">-- All --</option>
			@for(int i = 1; i <= 20; i++)
            {
                <option value="">-- @i --</option>
            })
		</select>
	</div>

	<br>
</div>



