@using System;
@using WebDevelopment.Data.Entities;
@using WebDevelopment.Controllers;
@using System.Text;
@model Carscombo;


<form asp-action="Add" method="post">
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
		<label class="m-n" asp-for="@Model.car.Type">Vehicle Type</label>
			<select asp-for="@Model.car.Type" class="m-n">
				<option value="">-- Select a Vehicle type --</option>
				@foreach (var Types in Enum.GetValues(typeof(Types)))
				{
					<option value="@Types">@Types</option>
				}
			</select>
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Model.Make">Make</label>
			<select asp-for="@Model.car.Model.Make" class="m-n">
				<option value="">-- All --</option>
				@foreach (var make in Model.carModels)
				{
					<option value="@make.Make">@make.Make</option>
				}
			</select>
		
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Model">Model</label>
			<select asp-for="@Model.car.Model" class="m-n">
				<option value="">-- All --</option>
				@foreach (var make in Model.carModels)
				{
					<option value="@make.Model">@make.Model</option>
				}
			</select>


		</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Price">Price</label>
	    <input class="m-n" asp-for="car.Price" />
		
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Mileage">Mileage</label>
			<input class="m-n" asp-for="car.Mileage" />
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.EngineSize">Engine Size</label>
			<input class="m-n" asp-for="car.EngineSize" />

	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Power">Power</label>
			<input class="m-n" asp-for="car.Power" />
	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Fuel">Fuel Type</label>
			<select asp-for="car.Fuel" class="m-n">
				<option value="">-- Select a fuel type --</option>
				@foreach (var fuelType in Enum.GetValues(typeof(Fuel)))
				{
					<option value="@fuelType">@fuelType</option>
				}
			</select>
	</div>

	<br>
</div>
	

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.GearBox">Gearbox</label>
			<select asp-for="car.GearBox" class="m-n">
				<option value="">-- Select a GearBox type --</option>
				@foreach (var gearbox in Enum.GetValues(typeof(GearBox)))
				{
					<option value="@gearbox">@gearbox</option>
				}
			</select>
	</div>

	<br>
</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Color">Color</label>
			<select asp-for="car.Color" class="m-n">
				<option value="">-- Select a GearBox type --</option>
				@foreach (var color in Enum.GetValues(typeof(Colors)))
				{
					<option value="@color">@color</option>
				}
			</select>
		</div>

		<br>
	</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Doors">Doors:</label>
			<select asp-for="car.Doors" class="m-n">
				<option value="">-- Select the number of doors --</option>
				@for (int i = 2; i <= 5; i++)
				{
					<option value="@i">@i</option>
				}
			</select>

	</div>

	<br>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="form-group">
			<label class="m-n" asp-for="@Model.car.Seats">Number of seats:</label>

			<select asp-for="car.Seats" class="m-n">
				<option value="">-- Select the number of Seats --</option>
				@for (int i = 2; i <= 20; i++)
				{
					<option value="@i">@i</option>
				}
			</select>
	</div>
       

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="form-group">
				<label class="m-n" asp-for="@Model.car.Images">Upload Images:</label>
				<input type="file" name="images"  multiple class="form-control" id="image-input" asp-for="@Model.car.Images"/>
			</div>
		</div>

		<div class="upload-container" id="image-preview-container"></div>

	


   <button type="submit" class="nav-buttonsell">Publish</button>
</form>


